<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="row md-mt-20 md-ml-20 md-mb-40">
                <img class="ss-slide-logo" src="/images/logo.png">
                <span class="section-header">Dashboard</span>
            </div>
            <div class="projects-container" style="height: 60vh;overflow-y: auto">
                <div class="row md-m-20 well" ng-repeat="ngo in ngos track by $index" style="max-height: 200px">
                    <div class="col-md-4">
                        <img ng-src="{[{ngo.logo || '/images/icon_75_75.png'}]}" style="max-width:100%;max-height: 100%">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <h4>{[{ngo.name}]} ({[{ngo.sname}]})</h4>
                            <span class="label label-default">{[{ngo.status}]}</span>
                        </div>
                        <div class="row" style="float: right">
                            <button ng-click="editNgo(ngo)" class="btn btn-xs btn-raised btn-primary">Edit</button>
                            <button ng-click="deleteNgo(ngo.sname)" class="btn btn-xs btn-raised btn-danger">Delete</button>
                            <button ng-click="viewNgo(ngo.sname)" class="btn btn-xs btn-raised btn-success">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slides-container-section col-md-5 hidden-sm mdc-bg-blue-600 md-p-50">
            <div class="row md-mt-20">
                <img class="center-block" src="/images/icon.png" style="height: 160px; width: auto">
            </div>
            <div class="row text-center" style="color:#FFFFFF">
                <h1 class="text-uppercase" style="font-weight: 400">Welcome Onboard!</h1>
                <h3>Let us help you change the world</h3>
            </div>
            <div class="row text-center md-pt-50">
                <button ng-click="newNgo()" class="btn btn-lg btn-success btn-raised">Create New Organization</button>
            </div>
        </div>
    </div>
</div>
</div>