<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="row md-mt-20 md-ml-20 md-mb-40">
                <img class="ss-slide-logo" src="/images/logo.png">
                <span class="section-header">Dashboard</span>
            </div>
        </div>
        <div class="slides-container-section col-md-5 hidden-sm mdc-bg-blue-600 md-p-50">
            <div class="row md-mt-20">
                <img class="center-block" src="/images/icon.png" style="height: 160px; width: auto">
            </div>
            <div class="row text-center" style="color:#FFFFFF">
                <h1 class="text-uppercase" style="font-weight: 400">Welcome Onboard!</h1>
                <h3>Let us help you change the world</h3>
            </div>
            <div class="row text-center md-pt-50">
                <button ng-click="newNgo()" class="btn btn-lg btn-success btn-raised">Create New Organization</button>
            </div>
        </div>
    </div>
</div>
</div>