<div class="container-fluid">
    <div class="row admin-container">
        <div class="col-md-7">
            <div class="row md-mt-20 md-ml-20 md-mb-40">
                <img class="ss-slide-logo" src="/images/logo.png">
                <span class="section-header">Login</span>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-9">
                    <form class="md-p-20" name="userForm" novalidate>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="form-group label-floating md-pb-20 required">
                                        <label for="uname" class="control-label">{[{'login.name'|translate}]}</label>
                                        <input ng-model="data.uname" name="uname" type="text" class="form-control"
                                               id="uname">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating md-pb-20 required">
                                        <label for="pword" class="control-label">{[{'login.password'|translate}]}</label>
                                        <input ng-model="data.pword" name="pword" type="password" class="form-control"
                                               id="pword">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating md-pb-20 required">
                                        <button class="btn btn-primary btn-raised" ng-click="login()">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5 hidden-sm mdc-bg-blue-600 md-p-50">
            <div class="row" style="margin-top: 150px;">
                <img class="center-block" src="/images/icon.png" style="height: 160px;width: auto;">
            </div>
            <div class="row text-center" style="color:#FFFFFF">
                <h1 class="text-uppercase" style="font-weight: 400">{[{'login.welcome'|translate}]}</h1>
                <h3>{[{'login.subtitle'|translate}]}</h3>
            </div>
        </div>
    </div>
</div>
</div>
