{% extends 'layout.html' %}

{%block stylesheets%}
<link href="/css/style.css" rel="stylesheet">
<link href="/css/magnific-popup.css" rel="stylesheet">
{%endblock%}


{% block content %}
<div id="wrap">
    <header id="ngo-home" class="intro-block bg-color1 dark-bg text-center">
        <div class="container">
            <div class="slogan">
                <a href="/home"><img src="/images/icon.png" alt="logo" class="sep-bottom"></a>
                <h2 class="big-title"><b>Page Not Found</b><br/>The Page You Requested Could Not be Found!</h2>
                <a href="/home"><h3>Click Here to go to Homepage</h3></a>

            </div>
        </div>
    </header>
    <footer id="footer-center" class="text-center bg-color1 dark-bg">
        <div class="container">
            <ul class="soc-list sep-bottom">
                <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a>
                </li>
                <li><a href="#" target="_blank"><i class="icon icon-googleplus2"></i></a>
                </li>
                <li><a href="#" target="_blank"><i class="icon icon-linkedin2"></i></a>
                </li>
            </ul>
            <p class="editContent">© 2016 Engage Within
                <br>
                <img style="margin-top: 20px;" src="/images/footer-logo.png" alt="">
        </div>
    </footer>
</div>
<!-- /#wrap -->
{%endblock%}

{%block scripts%}
<script src="/scripts/jquery.smooth-scroll.min.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/smoothscroll.js"></script>
{%endblock%}



