{% extends 'layout.html' %}
{%block stylesheets%}
<link href="/css/style.css" rel="stylesheet">
<link href="/css/magnific-popup.css" rel="stylesheet">
{%endblock%}

{% block content %}
<div id="wrap">
    <!-- NAVIGATION -->
    <nav class="navbar bg-color3 navbar-fixed-top navbar-slide" src="./images/logo.png">
        <div class="container-fluid">
            <a class="navbar-brand goto" href="#home">
                <img src="./images/logo.png" height="30" alt="Engage">
            </a>
            <button class="round-toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse"
                    data-target=".navMenuCollapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navMenuCollapse">
                <div class="login-panel"><a class="btn btn-primary" href="#request-demo">Request Demo</a><a
                        class="btn btn-success" href="/ngo">NGO?</a></div>
                <ul class="nav">
                    <li><a href="#home">Home</a>
                    </li>
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#benefits">Benefits</a>
                    </li>
                    <li><a href="#how-it-works-1">How it works?</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- SECTION 1: HERO -->
    <section id="home" class="bg-color3 text-center">
        <img src="images/bg11.jpg" style="position: absolute;top: 0;left:0;width:100%;">
        <div class="container hero">
            <img src="images/icon.png" alt="Engage Logo" class="md-pb-40" style="width: 200px;height:auto;">
            <h2 class="big-title"><b>{{s1_1}}</b><br/>{{s1_2}}</h2>
        </div>
    </section>
    <!-- END: SECTION 1: HERO -->

    <!-- SECTION 2: SUB-HERO -->
    <section class="bg-color1 text-center" style="padding: 40px 0px 60px 0px; color:white">
        <div class="container">
            <h4 class="editContent small-title">{{s2_1}}<br/>{{s2_2}}<br/>{{s2_3}}</h4>
        </div>
    </section>
    <!-- END: SECTION 2: SUB-HERO -->

    <!-- SECTION 3: MEET ENGAGE -->
    <section id="about" class="bg-color3" style="padding: 100px 0px;">

        <div class="row" style="padding:20px;">
            <div class="col-md-7">
                <img class="screen" src="images/engage2.png" alt="screen">
            </div>
            <div class="col-md-5">
                <h2>{{s3_1}}</h2>
                <h4 class="sub-title" style="margin-bottom:20px;">{{s3_2}}</h4>
                <p>{{s3_3}}</p>
                <p>{{s3_4}}</p>
                <p class="sep-bottom">{{s3_5}}</p>
                <a class="btn btn-default btn-lg" href="#request-demo"><i class="icon left-icon icon-hourglass"></i>{{s3_6}}</a>
            </div>
        </div>

    </section>
    <!-- END: SECTION 3: MEET ENGAGE -->

    <!-- SECTION 4: BENEFITS -->
    <section id="benefits" class="dark-bg bg-color1 cover-bg" style="background: rgba(39,62,84,0.95);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row sep-half-bottom">
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">1</i>
                                    <h3>{{s4_1}}</h3>
                                    <p>{{s4_2}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">2</i>
                                    <h3>{{s4_3}}</h3>
                                    <p>{{s4_4}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">3</i>
                                    <h3>{{s4_5}}</h3>
                                    <p>{{s4_6}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">4</i>
                                    <h3>{{s4_7}}</h3>
                                    <p>{{s4_8}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">5</i>
                                    <h3>{{s4_9}}</h3>
                                    <p>{{s4_10}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">6</i>
                                    <h3>{{s4_11}}</h3>
                                    <p>{{s4_12}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END: SECTION 4: BENEFITS -->

    <!-- SECTION 5: EMPLOYEE DEVELOPMENT -->
    <section id="how-it-works-1" class="how-it-works" style="padding-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="screen" src="images/bg9.jpg" alt="screen">
                </div>
                <div class="col-md-5 col-md-pull-6 editContent">
                    <h2>{{s5_1}}</h2>
                    <h4 class="sub-title">{{s5_2}}</h4>
                    <p>{{s5_3}}</p>
                    <p>{{s5_4}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END: SECTION 5: EMPLOYEE DEVELOPMENT -->

    <section id="how-it-works-2" class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="screen" src="images/bg10.jpg" alt="screen">
                </div>
                <div class="col-md-5 col-md-offset-1 editContent">
                    <h2>{{s6_1}}</h2>
                    <h4 class="sub-title">{{s6_2}}</h4>
                    <p>{{s6_3}}</p>
                    <p>{{s6_4}}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works-3" class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="screen" src="images/bg12.jpg" alt="screen">
                </div>
                <div class="col-md-5 col-md-pull-6 editContent">
                    <h2>{{s7_1}}</h2>
                    <h4 class="sub-title">{{s7_2}}</h4>
                    <p>{{s7_3}}</p>
                    <p>{{s7_4}}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="request-demo" class="bg-color2 cover-bg" style="padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-container wow flipInY" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="title">{{s8_1}}</h3>
                        <form action='/api/contact' role="form" id="contact_form" novalidate>
                            <div class="form-group">
                                <input type="text" class="form-control" id="contact_name" placeholder="Full name"
                                       name="name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="contact_email" placeholder="Email Address"
                                       name="email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Your message or question"
                                          id="contact_message" name="message"></textarea>
                            </div>
                            <button type="submit" id="contact_submit" data-loading-text="•••"
                                    class="btn btn-lg btn-block btn-primary">{{s8_2}}
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 dark-bg editContent">
                    <h2 class="title"><strong>{{s8_3}}</strong></h2>
                    <p class="sep-bottom">{{s8_4}}</p>
                    <p class="sep-bottom">{{s8_5}}</p>
                    <p class="sep-bottom">{{s8_6}}

                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer-center" class="text-center bg-color1 dark-bg">
        <div class="container">
            <p class="editContent">© 2016 Engage Within</p>
            <br>
            <img style="margin-top: 20px;" src="images/footer-logo.png" alt="">
        </div>
    </footer>
</div>
<!-- /#wrap -->

<!-- MODALS BEGIN-->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title">&nbsp;</h3>
        </div>
    </div>
</div>
<!-- MODALS END-->
{%endblock%}

{%block scripts%}
<script src="/scripts/custom.js"></script>
<script src="/scripts/custom/index.js"></script>
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/smoothscroll.js"></script>
<script src="/scripts/jquery.smooth-scroll.min.js"></script>
{%endblock%}

