{% extends 'layout.html' %}

{% block content %}
<div id="wrap">
    <!-- NAVIGATION -->
    <nav class="navbar bg-color3 navbar-fixed-top navbar-slide" src="./images/logo.png">
        <div class="container-fluid">
            <a class="navbar-brand goto" href="#home"><img src="./images/logo.png" height="30" alt="Engage"></a>
            <button class="round-toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse"
                    data-target=".navMenuCollapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span></button>
            <div class="collapse navbar-collapse navMenuCollapse">
                <ul class="nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#benefits">Benefits</a></li>
                    <li><a href="#how-it-works-1">How it works?</a></li>
                    <li><a href="#request-demo">Request Demo</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- DOWNLOAD CENTER APP IMAGE BLOCK -->
    <section id="home" class="bg-color3 text-center dark-bg">
        <img src="images/bg11.jpg" style="position: absolute;top: 0;left:0;width:100%;">
        <div class="container">
            <img src="images/icon.png" class="sep-bottom" alt="Engage Logo">
            <h2 class="big-title"><b>EMPLOYEE ENGAGEMENT</b><br/>THROUGH MANAGED CSR</h2>
        </div>
    </section>

    <section class="bg-color1 text-center" style="padding: 40px 0px 60px 0px; color:white">
        <div>
            <h4 class="editContent small-title">Develop employees by grooming key professional skills & personal
                strengths. <br/>
                Give back to your local community through managed CSR Projects. <br/>
                Retain key talent by boosting employee attachment and pride in your organizations brand.</h4>
        </div>
    </section>

    <section id="about" class="bg-color3" style="padding: 100px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="padding-top: 50px;">
                    <img class="screen" src="images/screen-1.png" alt="screen">
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h2>Meet Engage</h2>
                    <h4 class="sub-title" style="margin-bottom:20px;">
                        Our platform for Employee Development through managed Community Service Projects.
                    </h4>
                    <p>
                        Engage lets you highlight and develop key professional skills in your employees through
                        participation and delivery of community service projects. </p>

                    <p> We work with NGOs to structure and define projects that can
                        help participants develop skills like leadership, communication, project management and
                        resilience.
                    </p>
                    <p class="sep-bottom">
                        Employees can than use our highly interactive platform to manage and deliver these projects with
                        management and HR oversight. We provide you detailed insights and reporting on how your
                        employees are performing at each step of the project.
                    </p>
                    <a class="btn btn-default btn-lg" href="#request-demo"><i class="icon left-icon icon-hourglass"></i>Request Demo</a>
                </div>
            </div>
        </div>
    </section>

    <section id="benefits" class="dark-bg bg-color1 cover-bg" style="background: rgba(39,62,84,0.95);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row sep-half-bottom">
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">1</i>
                                    <h3>Simple</h3>
                                    <p>Engage is extremely simple & intuitive to use.
                                        You or your employees will not need any special training to plan and manage your CSR initiatives.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">2</i>
                                    <h3>Interactive</h3>
                                    <p>One of our key aim is to boost collaboration and team work. Our interactive always live project boards make communication fun and easy.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">3</i>
                                    <h3>Integrated</h3>
                                    <p>Engage can integrate with your existing HR systems. You can easily import and export existing data into the platform through our powerful data tools.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">4</i>
                                    <h3>Plan</h3>
                                    <p>Engage has been purposefully designed to make planning and scheduling of project tasks easy and interactive. Milestones allow participants </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">5</i>
                                    <h3>Manage</h3>
                                    <p>Live status reporting and task assignments offer participants an intuitive and effective way to manage and communicate progress on their projects.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="item-list-left">
                                <li><i class="num-icon">6</i>
                                    <h3>Report</h3>
                                    <p>Our powerful reporting tools allow you to visualise and discover hidden gaps and strengths in your current talent pool.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works-1" class="how-it-works" style="padding-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="screen" src="images/bg9.jpg" alt="screen">
                </div>
                <div class="col-md-5 col-md-pull-6 editContent">
                    <h2>Employee Development</h2>
                    <h4 class="sub-title">Grow your employees through professional skill development.</h4>
                    <p>Planning, managing and delivering community service projects requires a combination of
                        leadership, project management, communication, resilience and team work skills.</p>
                    <p>
                        We work very closely with all participating NGOs to define projects that require
                        a good combination of these key professional skills.
                        Hence Engage offers an excellent platform for participants to develop
                        skills that help them advance in their career and add more value to your organization.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works-2" class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="screen" src="images/bg10.jpg" alt="screen">
                </div>
                <div class="col-md-5 col-md-offset-1 editContent">
                    <h2>Giving Back</h2>
                    <h4 class="sub-title">Description of the steps of delivery</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works-3" class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <img class="screen" src="images/bg12.jpg" alt="screen">
                </div>
                <div class="col-md-5 col-md-pull-6 editContent">
                    <h2>Employee Retention</h2>
                    <h4 class="sub-title">Boost retention by increasing employee pride in organization.</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <section id="request-demo" class="bg-color2 cover-bg" style="padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-container wow flipInY" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h3 class="title">Book Now</h3>
                        <form action='/mailjet' role="form" id="contact_form" novalidate>
                            <div class="form-group">
                                <input type="text" class="form-control" id="contact_name" placeholder="Full name"
                                       name="name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="contact_email" placeholder="Email Address"
                                       name="email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" placeholder="Your message or question"
                                          id="contact_message" name="message"></textarea>
                            </div>
                            <button type="submit" id="contact_submit" data-loading-text="•••"
                                    class="btn btn-lg btn-block btn-primary">Send Request
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 dark-bg editContent">
                    <h2 class="title"><strong>Request A Demo</strong></h2>
                    <p class="sep-bottom">
                        Employees & Culture are extremely unique to each organization and change at various stages of
                        organizations growth.
                        We can work with you to define employee development objectives and CSR targets that are priority
                        for your organization.
                    </p>
                    <p class="sep-bottom">
                        We can suggest NGOs and Projects that are most suitable to achieve your goals and how you can
                        use the projects to
                        achieve your employee and community engagement targets.
                    </p>
                    <p class="sep-bottom">
                        Book your free consultation day today to explore how Engage can help you boost employee
                        retention
                        and develop a sense of pride and belonging amongst your employees towards your organization.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer-center" class="text-center bg-color3">
        <div class="container">
            <ul class="soc-list sep-bottom">
                <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-googleplus2"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-linkedin2"></i></a></li>
            </ul>
            <p class="editContent">© 2016 Engage Within<br>
                <img style="margin-top: 20px;" src="images/footer-logo.png" alt=""></div>
    </footer>
</div>
<!-- /#wrap -->

<!-- MODALS BEGIN-->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title">&nbsp;</h3>
        </div>
    </div>
</div>
<!-- MODALS END-->
{%endblock%}
{%block scripts%}

{%endblock%}