.how-it-works{
    padding-bottom: 50px;
}

.how-it-works h2{
    font-size: 40px;
}

.how-it-works h4{
    margin-bottom: 40px;
}

.how-it-works p{
    text-align: justify;
}

@media (max-width: 767px){
    .big-title, .giant-title {
        font-size: 30px;
        color: black;
    }

    .big-title b{
        font-size: 30px;
        color: black;
    }

    .hero{
        background-color: #3f3f3f;
    }
}