<div class="container-fluid">
    <div class="row admin-container">
        <div class="col-md-7">
            <div class="row md-mt-20 md-ml-20 md-mb-20">
                <a href="/ngo/admin"><img class="ss-slide-logo" src="/images/logo.png"></a>
                <span class="section-header">{[{'projects.title'|translate}]}</span>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading md-pt-10 md-pb-10"><h4>{[{'projects.subtitle'|translate}]}</h4></div>
                <div class="panel-body">
                    <div class="ui-view"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mdc-bg-blue-600">
            <div class="row md-mt-20">
                <div class="col-md-6 col-sm-12" ng-repeat="project in projects track by $index">
                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-image">
                                <img ngf-thumbnail="project.banner" class="circle">
                            </div>
                            <div class="card-body">
                                <p>{[{project.name}]}</p>
                            </div>
                            <footer class="card-footer">
                                <button ng-click="removeProject(projects,$index,project.id)"
                                        class="btn btn-sm btn-danger btn-flat">
                                    Delete
                                </button>
                                <button ng-click="editProject(projects,$index,project.id)"
                                        class="btn btn-sm btn-info btn-flat">
                                    Edit
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="md-m-40 panel panel-default br-10">
                    <!--div class="panel-body">
                        Lets start with the basics. The information you fill on the left will appear on your
                        organizations
                        home page. So make sure you get your Organizations details and key objectives listed down
                        accurately.
                    </div-->
                </div>
            </div>
            <div class="onboarding-done-btn">
                <button ui-sref="dashboard" class="btn btn-lg btn-success btn-raised">DONE</button>
            </div>
        </div>
    </div>
</div>
