<div class="row">
    <form class="md-p-20" name="projectForm" novalidate>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label  class="control-label">{[{'projects.managingTeam'|translate}]}</label>
                <selectize config='szTeamConfig' options='managingTeamSize' ng-model="currentProject.managingTeam" name="managingTeam"
                           class="form-control"></selectize>
                <span class="help-block">Managing Team will help you manage the project and arrange the events</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label class="control-label">{[{'projects.volunteersNeeded'|translate}]}</label>
                <selectize config='szTeamConfig' options='volunteerTeamSize' ng-model="currentProject.volunteers" name="volunteers"
                           class="form-control">
                </selectize>
                <span class="help-block">Volunteers will be present on event days to help</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group label-floating md-pb-20">
                <label class="control-label">{[{'projects.skillsRequired'|translate}]}</label>
                <selectize config='szSkillsConfig' options='szSkills'
                           ng-model="currentProject.skillsRequired"></selectize>
                <span class="help-block">Volunteers will be present on event days to help</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group label-floating md-pb-20">
                <label class="control-label">{[{'projects.skillsGained'|translate}]}</label>
                <selectize config='szSkillsConfig' options='szSkills'
                           ng-model="currentProject.skillsGained"></selectize>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group label-floating md-pb-20">
                <label for="qualifications" class="control-label">{[{'projects.specialQualifications'|translate}]}</label>
                <textarea ng-model="currentProject.qualifications" name="qualifications"
                          class="form-control" rows="4"
                          id="qualifications"></textarea>
            </div>
        </div>
        <div class="col-md-12 img-upload-btns md-mt-20">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <a ui-sref="new.projects.info" class="btn btn-sm btn-raised btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>