{% extends '../layout.html' %} {%block stylesheets%}
<link href="/css/style.css" rel="stylesheet">
<link href="/css/magnific-popup.css" rel="stylesheet">{%endblock%} {% block content %}
<div id="wrap">
    <!-- NAVIGATION -->
    <nav class="navbar bg-color3 navbar-fixed-top navbar-slide" src="./images/logo.png">
        <div class="container-fluid">
            <a class="navbar-brand goto" href="#home">
                <img src="./images/logo.png" height="30" alt="Engage">
            </a>
            <button class="round-toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse" data-target=".navMenuCollapse"><span class="icon-bar"></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navMenuCollapse">
                <div class="login-panel">
                    <a class="btn btn-primary" href="/">Home</a>
                    <a class="btn btn-success" href="#ngo-how-it-works">How it Works?</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- SECTION:1 INTRO-->
    <header id="ngo-home" class="intro-block bg-color1 dark-bg text-center">
        <div class="container">
            <div class="slogan">
                <img src="./images/icon.png" alt="logo" class="sep-bottom" style="width: 200px;height: auto">
                <h2 class="big-title"><b>{{s1_1}}</b><br/>{{s1_2}}</h2>
            </div>
            <form action="/api/auth/register" method="post" id="join_form" class="validation-message clearfix line-form three-fields sep-half-bottom" novalidate>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" id="join_name" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="uname" id="join_email" placeholder="Your Email">
                </div>
                <button class="btn btn-primary" type="submit" id="join_submit">Join</button>
            </form>
        </div>
    </header>
    <!-- END:SECTION:1 INTRO-->

    <!-- STEPS CENTER BLOCK -->
    <section id="ngo-how-it-works" style="padding-bottom:20px">
        <div class="container">
            <div class="sep-bottom text-center">
                <h2>{{s2_1}}</h2>
                <p class="desc-text editContent">
                    {{s2_2}}<br/>
                    {{s2_3}}<br/>
                    {{s2_4}}
                </p>
            </div>

            <ul class="step-center-block">
                <li>
                    <div class="step-num">1</div>
                    <div class="step-img">
                        <img src="images/step1.png" class="screen" alt="">
                    </div>
                    <div class="step-text">
                        <h3 class="title">{{s3_1}}</h3>
                        <p>
                            {{s3_2}}<br/>
                            {{s3_3}}<br/>
                            {{s3_4}}
                        </p>
                    </div>
                </li>
                <li class="reverse">
                    <div class="step-num">2</div>
                    <div class="step-img">
                        <img src="images/step2.png" class="screen" alt="">
                    </div>
                    <div class="step-text">
                        <h3 class="title">{{s4_1}}</h3>
                        <p>
                            {{s4_2}}<br/>
                            {{s4_3}}
                        </p>
                    </div>
                </li>
                <li>
                    <div class="step-num">3</div>
                    <div class="step-img">
                        <img src="images/step3.png" class="screen" alt="">
                    </div>
                    <div class="step-text">
                        <h3 class="title">{{s5_1}}</h3>
                        <p>
                            {{s5_2}}
                        </p>
                        <p>
                            {{s5_3}}<br>
                            {{s5_4}}
                        </p>
                    </div>
                </li>
                <li class="reverse">
                    <div class="step-num">4</div>
                    <div class="step-img">
                        <img src="images/step4.png" class="screen" alt="">
                    </div>
                    <div class="step-text">
                        <h3 class="title">{{s6_1}}</h3>
                        <p>
                            {{s6_2}}<br/>
                            {{s6_3}}
                        </p>
                    </div>
                </li>
            </ul>

        </div>
    </section>


    <footer id="footer-center" class="text-center bg-color1 dark-bg">
        <div class="container">
            <p class="editContent">© 2016 Engage Within</p>
            <br>
            <img style="margin-top: 20px;" src="images/footer-logo.png" alt="">
        </div>
    </footer>
</div>
<!-- /#wrap -->

<!-- MODALS BEGIN-->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title">&nbsp;</h3>
        </div>
    </div>
</div>
<!-- MODALS END-->
{%endblock%} {%block scripts%}
<script src="/scripts/jquery.smooth-scroll.min.js"></script>
<script src="/scripts/jquery.noty.packaged.min.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/smoothscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#join_form").submit(function(e) {            
            e.preventDefault();
            $('#join_submit').prop('disabled', true);
            var $form = $(this);
            var url = $form.attr('action');
            var posting = $.post(url, $form.serialize());
            posting.done(function(response) {
                if(response.success == true){
                    noty({text:'Registration Submitted. Please check your email for further details.'});
                }else{
                    noty({text:response.message});                    
                }
            });
        })
    });
</script>
{%endblock%}



