{% extends '../layout.html' %}

{%block stylesheets%}
<link href="/css/style.css" rel="stylesheet">
{%endblock%}

{% block content %}
<div class="container">
    <!-- NAVIGATION -->
    <nav class="navbar bg-color3 navbar-fixed-top navbar-static-top" src="/images/logo.png">
        <div class="container">
            <a class="navbar-brand goto" href="#home">
                <img src="/images/logo.png" height="30" alt="Engage">
            </a>
            <button class="round-toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse"
                    data-target=".navMenuCollapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navMenuCollapse">
                <div class="login-panel" style="margin-right: 0px !important;">
                    <a class="btn btn-primary" href="/">Home</a>
                    <a class="btn btn-success" href="#">Join Now</a>
                </div>
                <ul class="nav">
                    <li><a href="#home">Home</a>
                    </li>
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#benefits">Benefits</a>
                    </li>
                    <li><a href="#how-it-works-1">How it works?</a>
                    </li>
                    <li><a href="#request-demo">Request Demo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="ngo-home" class="intro-block bg-color1 dark-bg text-center md-pt-50 md-pb-50">
        <div class="container">
            <div class="slogan">
                <img src="/images/icon.png" alt="logo" class="md-mt-20 md-mb-40">
                <h2 class="big-title"><b>{{name}}</b></h2>
            </div>
        </div>
    </header>
    <div class="ngo-logo-parent">
        <div class="ngo-logo-child">
        <img src={{logo}} alt="logo">
        </div>
    </div>
    <section></section>


    <footer id="footer-center" class="text-center bg-color1 dark-bg">
        <div class="container">
            <ul class="soc-list sep-bottom">
                <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a>
                </li>
                <li><a href="#" target="_blank"><i class="icon icon-googleplus2"></i></a>
                </li>
                <li><a href="#" target="_blank"><i class="icon icon-linkedin2"></i></a>
                </li>
            </ul>
            <p class="editContent">© 2016 Engage Within
                <br>
                <img style="margin-top: 20px;" src="/images/footer-logo.png" alt="">
        </div>
    </footer>
</div>
<!-- /#wrap -->

{%endblock%}

{%block scripts%}
<script src="/scripts/custom.js"></script>
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/jquery.smooth-scroll.min.js"></script>
<script src="/scripts/smoothscroll.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/waypoints.min.js"></script>
{%endblock%}