{% extends '../layout.html' %}

{%block stylesheets%}

<link href="/css/fonts.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/bootstrap-material-design.css" rel="stylesheet">

{%endblock%}

{% block content %}
<div class="container">
    {% if banner %}
    <header class="banner-bg dark-bg text-center md-pt-50 md-pb-50" style="background-image: url('{{banner}}')">
        {% else %}
        <header class="banner-bg dark-bg text-center md-pt-50 md-pb-50" style="background-image: url('/images/bg10.jpg')">
            {% endif %}
            <div class="container">
                <div class="slogan">
                    <img src="/images/icon.png" alt="logo" class="md-mt-20 md-mb-40">
                    <h2 class="big-title"><b>{{name}}</b></h2>
                </div>
            </div>
        </header>
        <div class="ngo-logo-parent">
            <div class="ngo-logo-child">
                {% if logo %}
                <img src={{logo}} alt="logo">{% else %}
                <div class="logo-replacement"></div>
                {% endif %}
            </div>
        </div>
        <div class="filler">
        </div>
        <section>
            <div class="row md-rp-10 md-rl-10">
                <div class="col-md-8">
<input type="text" ng-model="main.username" placeholder="username"><br>
    <input type="password" ng-model="main.password" placeholder="password"><br>
    <br>

    <button ng-click="main.register()">Register</button>
    <button ng-click="main.login()">Login</button>
    <button ng-click="main.logout()" ng-show="main.isAuthed()">Logout</button>

    <button ng-click="main.getQuote()">get quote</button>
                </div>             
            </div>
        </section>
    </div>

{%endblock%}

{%block scripts%}
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/jquery.smooth-scroll.min.js"></script>
<script src="/scripts/smoothscroll.js"></script>
<script src="/scripts/waypoints.min.js"></script>
{%endblock%}