{% extends '../layout.html' %} {%block stylesheets%}
<link href="/css/fonts.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/bootstrap-material-design.css" rel="stylesheet">
<link href="/css/custom/landing.css" rel="stylesheet">{%endblock%} {% block content %}
<div class="container">
    {% if banner %}
    <header class="banner-bg dark-bg text-center md-pt-50 md-pb-50" style="background-image: url('{{banner}}')">
        {% else %}
        <header class="banner-bg dark-bg text-center md-pt-50 md-pb-50"
                style="background-image: url('/images/bg10.jpg')">
            {% endif %}
            <div class="container">
                <div class="slogan">
                    <img src="/images/icon.png" alt="logo" class="md-mt-20 md-mb-40" style="width: 160px;height: auto;">
                    <h2 class="big-title"><b>{{name}}</b></h2>
                </div>
            </div>
        </header>
        <div class="ngo-logo-parent">
            <div class="ngo-logo-child">
                {% if logo %}
                <img src={{logo}} alt="logo">{% else %}
                <div class="logo-replacement"></div>
                {% endif %}
            </div>
        </div>
        <div class="filler">
        </div>
        <section>
            <div class="row md-rp-10 md-rl-10">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>{{project.name}}</h3>
                                    {% for category in project.category %}
                                    <span class="label label-primary">{{category}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row md-mt-20">
                                <div class="col-md-12">
                                    <p>Start Date: {{project.sDate | date('Y-m-d H:i:s',-480)}}</p>
                                    <p>End Date: {{project.eDate | date('Y-m-d H:i:s',-480)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        {{project.location}}
                    </div>
                    <div class="row">
                        {{website}}
                    </div>
                    <div class="row">
                        {{phone}}
                    </div>
                    <div class="row">
                        <button class="btn btn-lg btn-info btn-raised">Request Information</button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-8">
                    <div class="row md-mb-50">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{project.description}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Team Requirements</h4>
                    <p>Managing Team Size</p>
                    {% if project.managingTeam.length %}
                    <p>{{project.managingTeam}}</p>
                    {% else %}
                    <p>None</p>
                    {% endif %}
                    <p>Volunteers Team Size</p>
                    {% if project.volunteers.length %}
                    <p>{{project.volunteers}}</p>
                    {% else %}
                    <p>None</p>
                    {% endif %}
                    <p>Skills Required</p>
                    <p>
                    {%for skill in project.skillsRequired%}
                        <span class="label label-info">{{skill}}</span>
                    {% endfor %}
                    </p>
                    <p>Skills Gained</p>
                    <p>
                        {%for skill in project.skillsGained%}
                        <span class="label label-success">{{skill}}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </section>
        <footer id="footer-center" class="text-center bg-color1 dark-bg">
            <div class="container">
                <p class="editContent">© 2016 Engage Within</p>
                <br>
                <img style="margin-top: 20px;" src="/images/footer-logo.png" alt="">
            </div>
        </footer>
</div>


{%endblock%} {%block scripts%}
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/jquery.smooth-scroll.min.js"></script>
<script src="/scripts/smoothscroll.js"></script>
<script src="/scripts/waypoints.min.js"></script>
{%endblock%}