<div class="row">
    <form class="md-p-20" name="projectForm" novalidate>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label  class="control-label">Managing Team Size</label>
                <selectize config='szTeamConfig' options='managingTeamSize' ng-model="newProject.managingTeam" name="managingTeam"
                           class="form-control"></selectize>
                <span class="help-block">Managing Team will help you manage the project and arrange the events</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label class="control-label">Volunteers Needed</label>
                <selectize config='szTeamConfig' options='volunteerTeamSize' ng-model="newProject.volunteers" name="volunteers"
                           class="form-control">
                </selectize>
                <span class="help-block">Volunteers will be present on event days to help</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group label-floating md-pb-20">
                <label class="control-label">Skills Required</label>
                <selectize config='szSkillsConfig' options='szSkills'
                           ng-model="newProject.skillsRequired"></selectize>
                <span class="help-block">Volunteers will be present on event days to help</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group label-floating md-pb-20">
                <label class="control-label">Skills Gained</label>
                <selectize config='szSkillsConfig' options='szSkills'
                           ng-model="newProject.skillsGained"></selectize>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group label-floating md-pb-20">
                <label for="qualifications" class="control-label">Specific Qualifications or Check
                    Required</label>
                <textarea ng-model="newProject.qualifications" name="qualifications"
                          class="form-control" rows="4"
                          id="qualifications"></textarea>
            </div>
        </div>
        <div class="col-md-12 img-upload-btns md-mt-20">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <a ui-sref="projects.home" class="btn btn-sm btn-raised btn-primary">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>