section{
    padding-bottom: 50px;
}

.ngo-logo-parent {
    position: relative;
}

.ngo-logo-child {
    position: absolute;
    top: -100px;
    z-index: 99;
    left: 40px;
    width:200px;
    height:200px;
}

.ngo-logo-child img{
    width:100%;
    height:auto;
}

.banner-bg{
    background-repeat: no-repeat;
    background-size: 100%
}

.logo-replacement{
    position: absolute;
    z-index: 99;
    left: 40px;
    width:200px;
    height:200px;
    background: #dcd9d9;
}