section{
    padding-top: 20px;
    padding-bottom: 40px;
}

.ngo-logo-parent {
    position: relative;
}

.ngo-logo-child {
    position: absolute;
    top: -100px;
    z-index: 99;
    left: 40px;
    width:200px;
    height:200px;
}

.ngo-logo-child img{
    width:100%;
    height:auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.banner-bg{
    background-repeat: no-repeat;
    background-size: 100%
}

.logo-replacement{
    position: absolute;
    z-index: 99;
    left: 40px;
    width:200px;
    height:200px;
    background: #dcd9d9;
}

.project-container{
    -moz-box-shadow:    2px 2px 5px 6px #ccc;
    -webkit-box-shadow: 2px 2px 5px 6px #ccc;
    box-shadow:         2px 2px 5px 6px #ccc;
    height:200px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.filler{
    height: 120px;
    width:100%;
    background-color: #c3c2c2;
}