<div class="row">
    <form class="md-p-20" name="projectForm" novalidate>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="i1" class="control-label">Name</label>
                <input ng-model="newProject.name" name="name" type="text" class="form-control" id="i1" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label class="control-label">Category</label>
                <selectize config='szCategoryConfig' options='szCategory' ng-model="newProject.category" name="category"
                        class="form-control">
                </selectize>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label class="control-label">NGO Contact</label>
                <selectize config='szContactConfig' options='teamMembers'
                           ng-model="newProject.contact"></selectize>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="location" class="control-label">Event Address</label>
                <input ng-model="newProject.location" name="location" type="text" class="form-control"
                       id="location"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20">
                <label class="control-label">Event Start Date </label>
                <a href="javascript:void(0)" class="btn btn-default btn-raised">{[{newProject.sDate | date:'yyyy-MM-dd'}]}</a>
                <a href="bootstrap-elements.html" data-target="#" class="btn btn-sm btn-default btn-raised dropdown-toggle" data-toggle="dropdown"><i class="material-icons">date_range</i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel1">
                    <datetimepicker data-ng-model="newProject.sDate"
                                    data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' ,minView:'day'}"></datetimepicker>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20">
                <label class="control-label">Event End Date</label>
                <a href="javascript:void(0)" class="btn btn-default btn-raised">{[{newProject.eDate | date:'yyyy-MM-dd'}]}</a>
                <a href="bootstrap-elements.html" data-target="#" class="btn btn-sm btn-default btn-raised dropdown-toggle" data-toggle="dropdown"><i class="material-icons">date_range</i></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="newProject.eDate"
                                    data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle',minView:'day' }"></datetimepicker>
                </ul>
            </div>
        </div>

        <div class="col-md-12 md-mt-20">
            <div class="form-group label-floating required">
                <label for="description" class="control-label">Description</label>
                        <textarea ng-model="newProject.description" name="description" class="form-control" rows="6"
                                  id="description"></textarea>
            </div>
        </div>
        <div class="col-md-12 img-upload-btns md-mt-20">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <a ng-model="newProject.banner" id="banner" name="banner"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'" ngf-max-size="2MB" ngf-select
                           class="btn btn-sm btn-raised btn-primary">Upload Banner</a>
                        <a ui-sref="projects.skills" class="btn btn-sm btn-raised btn-primary">Add Team Requirements</a>
                    </div>
                    <div class="row">
                        <span ng-if="newProject.newProjectBanner">[ Banner File : {[{data.basicInfo.banner.name}]} ]</span>
                    </div>
                </div>
                <div class="col-md-6 next-btn">
                    <a ng-disabled="projectForm.$invalid" ng-click="addNewProject(projectForm.$valid)"
                       class="btn btn-raised btn-info">Add Project</a>
                </div>
            </div>
        </div>
    </form>
</div>