<div class="row">
    <form class="md-p-20" name="projectForm" novalidate>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="i1" class="control-label">Name</label>
                <input ng-model="newProject.name" name="name" type="text" class="form-control" id="i1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="category" class="control-label">Category</label>
                <select ng-model="newProject.category" name="category" id="category"
                        class="form-control">
                    <option value="none"></option>
                    <option value="education">Teaching</option>
                    <option value="arts-culture">Training</option>
                    <option value="medical-research">Coaching</option>
                    <option value="medical-research">Youth Work</option>
                    <option value="medical-research">Conservation</option>
                    <option value="medical-research">DIY / Odd Jobs</option>
                    <option value="medical-research">Community Service</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="contact" class="control-label">NGO Contact</label>
                <select ng-model="newProject.contact" name="contact" id="contact" class="form-control">
                    <option ng-repeat = "contact in teamMembers" value="{[{contact.member}]}">{[{contact.member}]}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="location" class="control-label">Event Address</label>
                <input ng-model="newProject.location" name="location" type="text" class="form-control"
                       id="location"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="managingTeam" class="control-label">Managing Team Size</label>
                <select ng-model="newProject.managingTeam" name="managingTeam" id="managingTeam"
                        class="form-control">
                    <option value="0">0</option>
                    <option value="education">1-2</option>
                    <option value="arts-culture">2-5</option>
                    <option value="medical-research">5-10</option>
                </select>
                <span class="help-block">Managing Team will help you manage the project and arrange the events</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating md-pb-20 required">
                <label for="volunteers" class="control-label">Volunteers Needed</label>
                <select ng-model="newProject.volunteers" name="volunteers" id="volunteers"
                        class="form-control">
                    <option value="0">0</option>
                    <option value="education">1-5</option>
                    <option value="arts-culture">5-10</option>
                    <option value="medical-research">10-15</option>
                    <option value="medical-research">15-20</option>
                </select>
                <span class="help-block">Volunteers will be present on event days to help</span>
            </div>
        </div>
        <div class="col-md-12 md-mt-20">
            <div class="form-group label-floating required">
                <label for="description" class="control-label">Description</label>
                        <textarea ng-model="newProject.description" name="description" class="form-control" rows="8"
                                  id="description"></textarea>
            </div>
        </div>
        <div class="col-md-12 img-upload-btns md-mt-20">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <a ng-model="newProject.newProjectBanner" id="newProjectBanner" name="newProjectBanner"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'" ngf-max-size="2MB" ngf-select
                           class="btn btn-sm btn-raised btn-primary">Upload Banner</a>
                        <a ui-sref="projects.skills" class="btn btn-sm btn-raised btn-primary">Add Skills & Qualifications</a>

                    </div>
                    <div class="row">
                        <span ng-if="newProject.newProjectBanner">[ Banner File : {[{data.basicInfo.banner.name}]} ]</span>
                    </div>
                </div>
                <div class="col-md-6 next-btn">
                    <a ng-disabled="userForm.$invalid" ng-click="saveSection3()" href="#"
                       class="btn btn-raised btn-info">Add Project</a>
                </div>
            </div>
        </div>
    </form>
</div>