<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <div class="row md-mt-20 md-ml-20 md-mb-20">
                <img src="/images/logo.png" style="height: 40px;width: auto">
            </div>
            <div class="row md-p-20">
                <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading md-pt-10 md-pb-10"><h4>Add Projects</h4></div>
                    <div class="panel-body">
                        <div class="row form-group label-floating">
                            <label for="name" class="control-label">Name</label>
                            <input ng-model="newProject.name" name="name" type="text" class="form-control" id="name">
                        </div>
                        <div class="row form-group label-floating">
                            <label for="location" class="control-label">Location</label>
                            <input ng-model="newProject.location" type="text" class="form-control" id="location">
                        </div>
                        <div class="row form-group label-floating">
                            <label for="dates" class="control-label">Dates</label>
                                <input ng-model="newProject.dates" type="text" class="form-control" id="dates">
                        </div>
                        <div class="row form-group label-floating">
                            <label for="teamSize" class="control-label">Desired Team Size</label>
                            <input ng-model="newProject.teamSize" type="text" class="form-control" id="teamSize">
                        </div>
                        <div class="row form-group label-floating required">
                            <label for="description" class="control-label">Description</label>
                        <textarea ng-model="newProject.description" name="newProject" class="form-control" rows="5"
                                  id="description" ></textarea>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6">
                                <a ng-model="newProject.avatar" name="file" ngf-pattern="'image/*'"
                                   ngf-accept="'image/*'" ngf-max-size="1MB" ngf-select
                                   class="btn btn-primary btn-raised">Upload Image</a>
                                <p>{[{newProject.avatar}]}</p>
                            </div>
                            <div class="col-md-6 next-btn">
                                <a ng-click="addNewProject()" class="btn btn-success btn-raised">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 md-mt-40 next-btn">
                    <a ng-disabled="userForm.$invalid" ng-click="saveSection3()" href="#"
                       class="btn btn-lg btn-raised btn-info">Done</a>
                </div>
                <div class="col-md-12 md-mt-20">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section col-md-6 mdc-bg-blue-600">
            <div class="row md-p-10">
                <div class="col-md-6 col-sm-4" ng-repeat="member in data.projects track by $index">
                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-image">
                                <img ngf-thumbnail="member.avatar || '/thumb.jpg'" class="circle">
                                <h3 class="card-image-headline">{[{member.name}]}</h3>
                            </div>
                            <div class="card-body">
                                <p>{[{member.email}]} - {[{member.title}]}</p>
                            </div>
                            <footer class="card-footer">
                                <button ng-click="remove(data.projects,$index)" class="btn btn-sm btn-danger btn-flat">Delete</button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="md-m-40 panel panel-default br-10">
                    <div class="panel-body">
                        Lets start with the basics. The information you fill on the left will appear on your organizations
                        home page. So make sure you get your Organizations details and key objectives listed down accurately.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>