<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 ">
            <div class="row md-mt-20 md-ml-20 md-mb-20">
                <img src="/images/logo.png" style="height: 40px;width: auto">
            </div>
            <div class="ui-view"></div>
        </div>
        <div class="section col-md-5 mdc-bg-blue-600">
            <div class="row md-p-10">
                <div class="col-md-6 col-sm-4" ng-repeat="member in data.projects track by $index">
                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-image">
                                <img ngf-thumbnail="member.avatar || '/thumb.jpg'" class="circle">
                                <h3 class="card-image-headline">{[{member.name}]}</h3>
                            </div>
                            <div class="card-body">
                                <p>{[{member.email}]} - {[{member.title}]}</p>
                            </div>
                            <footer class="card-footer">
                                <button ng-click="remove(data.projects,$index)"
                                        class="btn btn-sm btn-danger btn-flat">
                                    Delete
                                </button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="md-m-40 panel panel-default br-10">
                    <div class="panel-body">
                        Lets start with the basics. The information you fill on the left will appear on your
                        organizations
                        home page. So make sure you get your Organizations details and key objectives listed down
                        accurately.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
